/* Nunito */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/nunito/nunito-400.ttf") format("truetype");
}
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/nunito/nunito-500.ttf") format("truetype");
}
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/nunito/nunito-600.ttf") format("truetype");
}
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/nunito/nunito-700.ttf") format("truetype");
}

/* Spline Sans */
@font-face {
    font-family: "Spline Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/spline-sans/spline-sans-300.ttf") format("truetype");
}
@font-face {
    font-family: "Spline Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/spline-sans/spline-sans-400.ttf") format("truetype");
}
@font-face {
    font-family: "Spline Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/spline-sans/spline-sans-500.ttf") format("truetype");
}
@font-face {
    font-family: "Spline Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/spline-sans/spline-sans-600.ttf") format("truetype");
}
@font-face {
    font-family: "Spline Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/spline-sans/spline-sans-700.ttf") format("truetype");
}

/* Noto Sans */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/noto-sans/noto-sans-400.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/noto-sans/noto-sans-500.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/noto-sans/noto-sans-700.ttf") format("truetype");
}

/* Material Symbols Outlined */
@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    src: url("../fonts/material-symbols/material-symbols-outlined.ttf")
        format("truetype");
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}

.material-symbols-outlined.filled {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
